@import "../styles/fonts.css" screen;
@import "../styles/default.css" screen;
@import "media-queries"; 
@import "mixin"; 

.Main {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%; 

} 

p {
    margin-bottom: 30px;
}
 p.par1 {
     @include font300(20px,22px);
     color: #000;
 }        
 p.par2 {
    @include font400(20px,22px);
    color: #000;
 }        
 p.par3 {
    @include font500(20px,22px);
    color: #000;
 }        
 p.par4 {@include font800(20px,22px);
    color: #000;
}        
         



