/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');   */
*{margin:0;padding:0}
body,input,select,select option,textarea{ font-family: 'Acrom', 'Open Sans', sans-serif; font-style: normal; font-size:14px;}
html { height: 100%; background: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{height: 100%; line-height:1.4;color:#000}
img{border:0}
button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner{border:none;}
select:focus,input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none}
select option {padding-left:3px;}
table{border-collapse:collapse}
a:link,a:visited{color:#CB0FE0;text-decoration:underline}
a:hover{color:#CB0FE0;text-decoration:none}


*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }

img {max-width: 100%;}

a[href^="tel:"] {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    margin-left: 20px;
}

li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    padding-bottom: 20px;
}

b, strong {
    font-weight: 800;
}


h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    margin-bottom: 15px;
}

h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    margin-bottom: 15px;
}


.indent {
    padding: 10px 0;
    border-left: 3px solid #CB0FE0;
    margin-bottom: 20px;
}
.indent p {
    padding-left: 20px;
    font-weight: 500;
}
.indent p:last-child {
    padding-bottom: 0;
    
}
