@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Regular.eot');
    src: local('Acrom'), local('Acrom-Regular'),
        url('../fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-Regular.woff2') format('woff2'),
        url('../fonts/Acrom-Regular.woff') format('woff'),
        url('../fonts/Acrom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Light.eot');
    src: local('Acrom Light'), local('Acrom-Light'),
        url('../fonts/Acrom-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-Light.woff2') format('woff2'),
        url('../fonts/Acrom-Light.woff') format('woff'),
        url('../fonts/Acrom-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-Medium.eot');
    src: local('Acrom Medium'), local('Acrom-Medium'),
        url('../fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-Medium.woff2') format('woff2'),
        url('../fonts/Acrom-Medium.woff') format('woff'),
        url('../fonts/Acrom-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Acrom';
    src: url('../fonts/Acrom-ExtraBold.eot');
    src: local('Acrom ExtraBold'), local('Acrom-ExtraBold'),
        url('../fonts/Acrom-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Acrom-ExtraBold.woff2') format('woff2'),
        url('../fonts/Acrom-ExtraBold.woff') format('woff'),
        url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


