@import "../styles/fonts.css" screen;

@import "../styles/default.css" screen;

.btn,
a.btn {
  width: 154px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 18px;
  background: -o-linear-gradient(356.3deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  background: linear-gradient(93.7deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  -webkit-box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.btn:hover,
a.btn:hover {
  background: -o-linear-gradient(356.3deg, #6e037a -10.98%, #9b0aab 108.23%);
  background: linear-gradient(93.7deg, #6e037a -10.98%, #9b0aab 108.23%);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
  box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
}

.btn-mini,
a.btn-mini {
  width: 142px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 18px;
  background: -o-linear-gradient(356.3deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  background: linear-gradient(93.7deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  -webkit-box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-decoration: none;
}

.btn-mini:hover,
a.btn-mini:hover {
  background: -o-linear-gradient(356.3deg, #6e037a -10.98%, #9b0aab 108.23%);
  background: linear-gradient(93.7deg, #6e037a -10.98%, #9b0aab 108.23%);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
  box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
}

.Wrapper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100%;
}

.Main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ContainerWrap {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.Content {
  padding-top: 135px;
}

.BG-sign {
  background: url("../images/baground5.jpg") center top no-repeat;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.HD-main {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  text-transform: uppercase;
}

.Fixed-bar {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 3px 7px #cec7c7;
  box-shadow: 0 3px 7px #cec7c7;
}

header {
  background: url("../images/baground1.jpg") center top no-repeat;
  width: 100%;
}

.Top {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 77px;
}

.Top__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 10px;
  position: relative;
  height: 77px;
}

.Logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
  padding: 4px 0 0 0px;
}

.Logo a {
  display: block;
}

.Top-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 23px 15px 0;
}

.Top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}

.Top-menu ul li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.Top-menu ul li a:hover {
  text-decoration: underline;
}

.dropDownMenu.active {
  left: 0px;
}

.dropDownMenu.active .Smenu__close {
  display: block;
}

#hamburger {
  display: none;
  width: 30px;
  height: 22px;
  margin-top: 12px;
  z-index: 15;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger span {
  position: relative;
  top: 8px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2D4496;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger span:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  top: -7px;
  left: 0px;
  background-color: #2D4496;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger span:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  top: 7px;
  left: 0px;
  background-color: #2D4496;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger.active {
  top: -4px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

#hamburger.active span {
  background-color: transparent;
}

#hamburger.active span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.active span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger:hover {
  cursor: pointer;
}

.Smenu__close {
  display: none;
  background: #9903aa;
  height: 60px;
  padding: 20px;
}

.Smenu__close .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.Smenu__close .wrap:hover {
  cursor: pointer;
}

.Smenu__close .wrap:hover span {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.Smenu__close .wrap span {
  font-family: tahoma;
  font-size: 30px;
  line-height: 14px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.Top-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 11px;
}

.Top-info .btn-mini {
  margin: 0 20px;
}

.LogOut {
  margin-top: 12px;
}

.LogOut a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.LogOut a:hover {
  text-decoration: underline;
}

.Flag {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 2px 8px;
  position: relative;
  width: 80px;
}

.Flag:hover {
  cursor: pointer;
}

.Flag__select:hover span {
  font-weight: 500;
}

.Flag__select span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #000;
}

.Flag__select span::before {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
}

.Flag__select .rus::before {
  background-image: url("../images/icon-flag-rus.svg");
}

.Flag__select .eng::before {
  background-image: url("../images/icon-flag-eng.svg");
}

.Flag__select .fra::before {
  background-image: url("../images/icon-flag-fra.svg");
}

.Flag__select .ger::before {
  background-image: url("../images/icon-flag-ger.svg");
}

.Flag__dropdown {
  display: none;
  border-top: 1px solid #999;
}

.Flag__dropUp {
  position: absolute;
  bottom: 88%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -11px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px -11px 15px rgba(0, 0, 0, 0.09);
  padding: 2px 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  border-radius: 5px;
  border-top: unset;
}

.Flag__dropUp .Flag__select:last-child {
  border-bottom: 1px solid #999;
}

.Top-info2 {
  display: none;
}

.HeadBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 91px;
  overflow: hidden;
}

.HeadBody__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HeadBody__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.HeadBody__info {
  width: 40%;
  padding: 0 30px 0 10px;
  margin: 20px 0 50px;
}

.HeadBody__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 57px;
  color: #000;
  margin-bottom: 30px;
}

.HeadBody__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-bottom: 30px;
}

.HeadBody__img {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  -webkit-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  transform: translate(-100%, 0px);
  font-size: 0;
}

.HeadBody__img img {
  font-size: 0;
}

.Service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 60px;
}

.Service__item {
  text-align: left;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.Service__item-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Service__img {
  margin-bottom: 25px;
}

.Service__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin-bottom: 20px;
}

.Service__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

#Block2 {
  overflow: hidden;
}

#Block2 .ContainerWrap {
  background: url("../images/baground2.jpg") center top no-repeat;
  width: 1226px;
  height: 1232px;
  -webkit-box-shadow: 0 0 30px #f5f5f5;
  box-shadow: 0 0 30px #f5f5f5;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

#Block2 .HD-main {
  position: absolute;
  top: 64px;
  left: 15px;
  width: 230px;
}

.img-hand-phone {
  position: absolute;
  bottom: 202px;
  right: 0;
}

.HowWork {
  position: absolute;
  top: 84px;
  left: 153px;
  background: url("../images/polosa.png") center top no-repeat;
  width: 686px;
  height: 860px;
}

.HowWork__item {
  position: absolute;
}

.HowWork__item .Number {
  margin-bottom: 20px;
}

.HowWork__item .hd {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin-bottom: 15px;
}

.HowWork__item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-bottom: 15px;
}

.HowWork__item .desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #CB0FE0;
}

.HowWork__item-1 {
  width: 360px;
  top: -16px;
  left: 164px;
}

.HowWork__item-2 {
  width: 360px;
  top: 171px;
  right: -336px;
}

.HowWork__item-3 {
  width: 260px;
  top: 305px;
  left: 164px;
}

.HowWork__item-4 {
  width: 260px;
  top: 680px;
  left: 164px;
}

.HowWork__item-5 {
  width: 260px;
  top: 828px;
  right: -189px;
}

.Number {
  background: url("../images/img-number.png") center top no-repeat;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

#Block3 {
  background: url("../images/baground3.jpg") center 236px no-repeat;
  padding-bottom: 40px;
}

.Lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px 130px;
}

.Lang__head {
  width: 365px;
  padding-top: 20px;
  margin-right: 20px;
}

.Lang .HD-main {
  margin-bottom: 40px;
}

.Lang__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.Lang__info {
  background: url("../images/bg-patern.jpg") left top repeat;
  padding: 50px;
  -webkit-box-shadow: 0 0 30px #f5f5f5;
  box-shadow: 0 0 30px #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}

.Lang__item {
  width: 174px;
}

.Lang__item .img {
  margin-bottom: 15px;
}

.Lang__item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.Advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Advantage__img {
  width: 54%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Advantage__info {
  width: 43%;
}

.Advantage__info .HD-main {
  margin-bottom: 20px;
}

.Advantage__info .desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin-bottom: 40px;
}

.Advantage__spisok li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Advantage__spisok li span {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.Advantage__spisok li::before {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  content: ' ';
  display: block;
  background: url("../images/icon-check.svg") center top no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

#Block4 .ContainerWrap {
  background: url("../images/baground4.jpg") center 15px no-repeat;
}

.Users {
  text-align: center;
}

.Users__head {
  background: url("../images/bg-patern.jpg") left top repeat;
  -webkit-box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
}

.Users__head span {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #CB0FE0;
}

.Reviews {
  margin: 400px auto 0;
  width: 95% !important;
}

.Reviews-item {
  background: url("../images/bg-patern.jpg") left top repeat;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  text-align: left;
  margin: 15px;
}

.Reviews-item .img {
  margin-bottom: 15px;
}

.Reviews-item .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin-bottom: 40px;
}

.Reviews-item .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Reviews-item a.more {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #CB0FE0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Reviews-item a.more::after {
  content: ' ';
  display: block;
  background: url("../images/arrow2.png") center top no-repeat;
  width: 9px;
  height: 4px;
  padding-left: 20px;
}

.Reviews-item a.more:hover {
  text-decoration: underline;
}

.Company {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px 50px;
}

footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: rgba(196, 196, 196, 0.1);
}

.FootWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
}

.FootWrap__logo a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.FootWrap__logo a:hover {
  opacity: 0.6;
}

.FootWrap__logo span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.FootWrap__contacts a[href^="tel:"] {
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.FootWrap__contacts a {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
}

.FootWrap__contacts a:hover {
  text-decoration: underline;
}

.Footmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}

.Footmenu ul {
  width: 180px;
}

.Footmenu ul li a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.Footmenu ul li a:hover {
  text-decoration: underline;
}

.Modal {
  max-width: 660px;
  margin: 0px auto;
  position: relative;
  background: url("../images/bg-patern.jpg") left top repeat;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 16px #fff;
  box-shadow: 0 0 16px #fff;
}

.Modal .Modalclose {
  background: url("../images/close.png") center top no-repeat;
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: normal;
  opacity: 0.6;
}

.Modal .Modalclose:hover {
  opacity: 1;
}

.Modal__wrap {
  padding: 50px;
}

.Modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.Modal__avtor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.Modal__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.Modal__text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  padding-bottom: 15px;
}

.Contacts {
  padding: 0 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Contacts__cantryInfo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 360px;
  flex: 0 0 360px;
  margin-right: 20px;
}

.Contacts .HD-main {
  margin-bottom: 10px;
  padding-left: 30px;
}

.Contacts__wrap-tab {
  background: url("../images/bg-patern.jpg") left top repeat;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.Contacts__map {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 656px;
  flex: 0 1 656px;
}

.Select-Cantry {
  padding-left: 30px;
  margin-bottom: 30px;
}

.Select-Cantry__Town span.txt {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #CB0FE0;
  text-transform: uppercase;
}

.Select-Cantry__trigger {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 10px;
  position: relative;
}

.btn-trigger {
  font-size: 0;
}

.btn-trigger:hover {
  cursor: pointer;
  opacity: 0.6;
}

.Cantry__dropdown {
  display: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 2px 8px;
  position: absolute;
  top: 30px;
  left: -5px;
  z-index: 99;
  width: 257px;
}

.Cantry__dropdown .Flag__select:hover {
  cursor: pointer;
}

.Cantry__dropdown .Flag__select:hover span {
  font-weight: 500;
}

.Cantry__dropdown .Flag__select span {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.Cantry-tab.active {
  display: block;
}

.Cantry-tab {
  display: none;
}

.Contacts-field:not(:last-child) {
  margin-bottom: 30px;
}

.Contacts-field__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.Contacts-field__info {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.Contacts-field__info a[href^="tel:"] {
  color: #000;
  text-decoration: none;
}

.Contacts-field__info a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
}

.Contacts-field__info a:hover {
  text-decoration: underline;
}

.Contacts-field__time {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Contacts-field__time span {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.PrivPolicy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 50px;
}

.PrivPolicy__cont {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}

.PrivPolicy__cont .HD-main {
  margin-bottom: 20px;
}

.PrivPolicy__menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 265px;
  flex: 0 0 265px;
  margin-left: 100px;
}

.PrivPolicy__menu ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #CB0FE0;
  text-decoration: none;
}

.PrivPolicy__menu ul li a:hover {
  color: #000;
  text-decoration: underline;
}

.PrivPolicy__menu ul li ul {
  list-style: disc;
  margin-left: 25px;
}

.PrivPolicy__menu ul li ul li::marker {
  color: #CB0FE0;
}

.PrivPolicy__menu ul li ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #CB0FE0;
}

.Sign {
  padding: 85px 0 190px;
}

.Sign__wrap {
  background: url("../images/bg-patern.jpg") left top repeat;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  padding: 60px 30px;
  max-width: 820px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px 10px;
}

.Sign__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;
  text-align: center;
}

.Sign__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin-bottom: 10px;
}

.Sign__item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-bottom: 30px;
}

.Sign__border {
  width: 1px;
  opacity: 0.21;
  border-left: 1px dashed #000000;
}

.Forma {
  width: 260px;
  margin: 0 auto;
}

.Forma__field {
  position: relative;
  width: 100%;
  margin: 0 auto 15px;
}

.Forma__field input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}

.Forma__field label {
  position: absolute;
  top: 17px;
  left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.Forma__field label.active {
  top: -6px;
  color: #756E6E;
  background-color: white;
  width: auto;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding: 0 5px;
}

.Forma__field .icon {
  background: url("../images/icon-private.svg") center top no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 17px;
  right: 20px;
}

.Forma_check {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 30px;
}

.Forma_check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.Forma_check label input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.Forma_check label .check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.Forma .btn {
  width: auto;
  margin: 0 auto 30px;
}

.Forma a.forget {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #CB0FE0;
  text-decoration: none;
}

.Forma a.forget:hover {
  text-decoration: underline;
}

.Gender {
  padding-top: 20px;
}

.Gender__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.Gender__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.Gender a.Gender__item {
  width: 120px;
  height: 110px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.Gender a.Gender__item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.Gender a.Gender__item .img {
  margin-bottom: 5px;
}

.Gender a.Gender__item .title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

/*# sourceMappingURL=layout.css.map */

@media only screen and (max-width: 1200px) {
  .HeadBody__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    -webkit-transform: translate(-78%, 0px);
    -ms-transform: translate(-78%, 0px);
    transform: translate(-78%, 0px);
  }

  #Block2 .ContainerWrap {
    width: 100%;
  }

  #Block2 .HD-main {
    width: 100%;
    position: static;
    padding: 40px;
    text-align: center;
  }

  .img-hand-phone {
    bottom: 136px;
    right: -36px;
  }

  .HowWork {
    top: 154px;
    left: 15px;
  }

  .HowWork__item-2 {
    width: 330px;
    left: 660px;
    top: 180px;
  }

  .Lang {
    padding: 0 0px 40px;
  }
}

@media only screen and (max-width: 1120px) {
  .Lang__info {
    padding: 50px 15px;
    gap: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .PrivPolicy__cont {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .PrivPolicy__menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1018px) {
  #Block2 .ContainerWrap {
    background: url("../images/baground2.jpg") center top repeat;
    background-size: cover;
    height: auto;
    margin-bottom: 40px;
  }

  .img-hand-phone {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-transform: translate(15px, 0px);
    -ms-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
  }

  .HowWork {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    background: none;
    height: auto;
    padding-bottom: 20px;
  }

  .HowWork__item {
    position: static;
    width: 300px;
  }

  .Lang__head {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .Lang .HD-main {
    margin-bottom: 20px;
  }

  .Lang__info {
    width: 100%;
    padding: 15px;
    gap: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .Top-menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .Top-menu ul {
    display: block;
    padding: 20px 50px 0;
  }

  .Top-menu ul li {
    height: 50px;
  }

  .dropDownMenu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: url("../images/bg-patern.jpg") left top repeat;
    -webkit-box-shadow: 0 3px 7px #cec7c7;
    box-shadow: 0 3px 7px #cec7c7;
    z-index: 100;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }

  #hamburger {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .HeadBody__info {
    width: 48%;
  }

  .HeadBody__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 42px;
  }

  .HeadBody__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 76%;
    flex: 0 0 76%;
    -webkit-transform: translate(-70%, 0px);
    -ms-transform: translate(-70%, 0px);
    transform: translate(-70%, 0px);
  }

  .Service__item {
    width: 30%;
  }

  .Service__item-first {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .FootWrap {
    padding: 20px 15px;
  }

  .Footmenu {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Content {
    padding-top: 100px;
  }

  .HeadBody {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .HeadBody__info {
    width: 100%;
    padding: 0px;
    text-align: center;
  }

  .HeadBody__info .btn {
    margin: 0 auto;
  }

  .HeadBody__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-transform: translate(16%, 0px);
    -ms-transform: translate(16%, 0px);
    transform: translate(16%, 0px);
  }

  .Advantage__img {
    width: 90%;
    margin: 0 auto 20px;
  }

  .Advantage__info {
    width: 100%;
  }

  .Advantage__info .HD-main {
    text-align: center;
  }

  .Advantage__info .desc {
    text-align: center;
  }

  .FootWrap__logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .Contacts {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 30px;
  }

  .Contacts__cantryInfo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }

  .Contacts .HD-main {
    padding-left: 15px;
  }

  .Contacts__wrap-tab {
    padding: 15px;
  }

  .Contacts__map {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .Select-Cantry {
    padding-left: 15px;
  }

  .Select-Cantry__Town {
    position: relative;
  }

  .Select-Cantry__trigger {
    position: static;
  }

  .Cantry__dropdown {
    left: 0;
    top: unset;
  }

  .Contacts-field:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 680px) {
  .Logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    padding: 8px 0 0 0px;
  }
}

@media only screen and (max-width: 660px) {
  .HowWork__item {
    position: static;
    width: 100%;
    text-align: center;
  }

  .HowWork__item .Number {
    margin: 0 auto 20px;
  }
}

@media only screen and (max-width: 650px) {
  .Top-info {
    display: none;
  }

  .Top-info2 {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #999;
    padding: 20px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }

  .Modal {
    width: 90%;
    margin: 0 auto;
  }

  .Modal__wrap {
    padding: 20px;
  }

  .Modal__head {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Modal__avtor {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Sign {
    padding: 30px 0px;
  }

  .Sign__wrap {
    padding: 15px;
  }

  .Sign__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media only screen and (max-width: 600px) {
  #Block4 {
    margin-top: 45px;
  }

  #Block4 .ContainerWrap {
    background: url("../images/baground4.jpg") -450px 15px no-repeat;
  }

  .Users__head {
    margin-top: -40px;
    padding: 10px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 576px) {
  .Service {
    padding-bottom: 20px;
  }

  .Service__item {
    width: 95%;
    text-align: center;
    margin-bottom: 20px;
  }

  .Reviews-item {
    text-align: center;
  }

  .Reviews-item .text {
    text-align: left;
  }

  .Footmenu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Footmenu ul {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 440px) {
  .Lang__item {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}